.Navbar {
  grid-area: nav;
  width: 100vw;
  height: 56px;
  padding: 0 1.5rem;
  background-color: $bg-nav-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(90, 90, 90, 0.55);
  position: fixed;
  top: 0;

  .icon-container {
      padding: .5rem;
      color: $text-color;
      background-color: $bg-nav-color;
      border: none;
      outline: none;
      cursor: pointer;
      @include center;
  }
}