@import './abstracts/_abstracts-dir';
@import './navigationBar/_navigationBar-dir';
@import './sideBar/_sideBar-dir';
@import './bodyContent/_bodyContent-dir';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// 1rem = 10px
:root {
    font-size: 62.5%;
}

body {
    background-color: $bg-color;
    font-family: 'Roboto', sans-serif;
    
    &::-webkit-scrollbar{
        width: 16px;
    }
    &::-webkit-scrollbar-track {
        background: $bg-color;
        -webkit-box-shadow: inset 0 0 200px $bg-color;
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(151, 151, 151);
        border: 4.5px solid $bg-color;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0); 
    }

    #root {
        display: grid;
        grid-template-columns: auto 1.4fr;
        grid-template-rows: 55px auto;
        grid-template-areas: 
        "nav nav"
        "aside main";

        main {
            width: 100%;
            grid-area: main;
            padding: 2rem;

            section {
                // padding: 0 2rem;
            }
        }
    }
}
